/* events*/
.welcome--page-events h1 {
  padding: 54px 34px;
}

.our-events h2,
.recent-events h2 {
  text-align: center;
  color: white;
  text-decoration: underline;
}

.events {
  margin: 0px auto;
}

.events-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.our---events a,
.events-3 a {
  font-size: 14px;
}
.our---events {
  width: 300px;
  background: white;
  padding: 10px;
}

.events-2 img {
  width: 320px;
}

.events-2 {
  width: 320px;
  margin: 10px 0px;
}

.events-3 {
  width: 645px;
  margin: 10px 0px 15px 0px;
  font-size: ;
  line-height: ;
  background: white;
  padding: 10px;
}
.events-3 p {
  font-size: 20px;
}
