@import "imports/links.css";

body {
  background: #7d99b2;
  margin: 0px;
  font-family: "Reenie Beanie", cursive, Verdana, Geneva, Tahoma, sans-serif;
}

a,
h1,
h3,
h2,
.footer {
  font-family: century Gothic, Medium sans-serif;
}
strong {
  font-size: 20px;
}
header {
  background: #135480;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

nav {
  display: none;
  position: fixed;
  top: 64px;
  right: 0px;
  background: #135480;
  padding: 0px 29px 0px 1px;
  line-height: 2;
}
nav li {
  display: block;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px;
}
li a:hover {
  background: white;
  color: #135480;
  padding: 5px;
}
.active {
  background: white;
  color: #135480;
  padding: 5px;
}
.logo img {
  height: 60px;
}
#humburger-menu {
  display: none;
}
#humburger-menu:checked ~ nav {
  display: block;
}

.fas,
.far {
  font-size: 18px;
}
.fa-bars {
  color: white;
  font-size: 33px;
}
footer {
  padding-top: 30px;
}
.footer {
  background: #135480;
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  color: white;
  font-size: 18px;
}
.footer-icons {
  display: flex;
  gap: 20px;
}
.footer-icons a {
  color: white;
}
/*Wellcome image */
.welcome-page-01 {
  background-image: url("/images/Home/william-bout-264826.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  background-position-x: center;
  background-position-y: center;
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome-page-01 h1 {
  background: #135480;
  color: white;
  margin-top: 91px;
  opacity: 0.85;
  border-radius: 50%;
  text-align: center;
}
